:root {
  --colorprincipal: #c1272d;
  --colorsecundario: #000;
  --colorterciario: #4d4d4d;
}

@font-face {
  font-family: "Franklin Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Franklin Gothic Regular"),
    url("FranklinGothic.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  color: azure;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer {
  background-color: var(--colorsecundario);
  height: 15vh;
  width: 100%;
}

.section{
  width: 100%;
  display: flex;
  background-image: url(../images/fondo_movie.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.contenedor_registro{
  display: flex;
  justify-content: center;
  height: 60%;
}

form{
  background-color: rgba(0,0,0,0.7);
  width: 900px;
  height: 80%;
  margin: auto auto;
  border-radius: 15px;
}

.login_icon{
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 25px;
}

.icon_user_img{
  height: 90%;
}

.login_container{
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.login_container label{
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 7px;
}

.login_container input{
  width: 90%;
  border-radius: 20px;
  height: 15%;
  border: none;
  background-color: #4d4d4d;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;

}


.login_footer{
  height: 20%;
  text-align: center;
}

.login_footer input{
  background-color: var(--colorprincipal);
  width: 30%;
  height: 50%;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  margin-bottom: 8px;
}

.login_footer a{
  display: block;
  text-decoration: none;
}

.header {
  background-color: var(--colorsecundario);
  height: 15vh;
  width: 100%;
}

.header-box-img {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box-imagen {
  width: 350px;
  margin: auto;
}

.section {
  background-color: var(--colorprincipal);
  height: 70vh;
  width: 100%;
}

.footer-box {
  width: 20vw;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box-img {
  width: 50%;
  height: 50%;
  margin: 0 20px;
}

.footer-box-imagen {
  width: 100%;
}


@media (min-width: 300px) {
}
